/*tweets display*/

 article.tweet-display{
	margin: 2em 2em 0 2em;
	text-align: left;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 5px;
	padding-top: 5px;
	opacity: 0.5;   

}




section.tweet-container img{
	width: 30px;
	height: 30px;
	border-radius: 10%;
}
section.tweet-container header{
	width: 100%;
	display: inline;
}

section .handle{
	float: right;
	vertical-align: bottom;
	font-size: 70%;
}

section .name{
	vertical-align: top;

}

section.tweet-box{

	background-color: #fff ;
	text-align: left;
	word-wrap: break-word;
	padding: 0;
	
}

section.tweet-box footer{
	
	border-top: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 0 10px 15px;
	font-size: 60%;
	text-align: left;	

}



section.tweet-box section{
	height: 60px;
	vertical-align: bottom;
}



section.tweet-box footer i{
	float:right;
	padding:0 8px 0 8px;
	font-size: 1rem;
	opacity: 0;
	color: grey;

}





 section.tweet-container article.tweet-display:hover{
	opacity: 1.0;
	border: 0.8px solid black;
	
}


 section.tweet-container article.tweet-display:hover i{
	opacity: 1.0;
	
}





